.main {
    max-width: 880px;
    margin: 0 auto;
}

@media screen and (max-width: 915px) {
    .main {
        max-width: 800px;
    }       
}

@media screen and (max-width: 880px) {
    .main {
        max-width: 800px;
    }       
}

